/* Write your CSS code here */

.link-ele {
  text-decoration: none;
}

.login-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-family: 'Roboto';
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .login-main-container {
    flex-direction: row;
    justify-content: center;
    padding: 20px 5%;
  }
}

.login-website-logo {
  width: 150px;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .login-website-logo {
    display: none;
  }
}

.website-login-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3%;
}

@media screen and (min-width: 768px) {
  .website-login-image-container {
    width: 65%;
    margin-right: 20px;
  }
}

.website-login-image {
  width: 90%;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3%;
  margin-top: 15px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    width: 35%;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    border-radius: 10px;
    padding: 5% 4%;
  }
}

@media screen and (max-width: 767px) {
  .login-website-form-logo-card {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .login-website-form-logo-card {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .login-website-form-logo {
    width: 120px;
  }
}

.login-form-label-ele {
  color: #475569;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-form-input-ele {
  color: #64748b;
  margin-bottom: 25px;
  padding: 10px 12px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #d7dfe9;
  border: none;
  border-radius: 5px;
}

.login-btn {
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  width: 100%;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 3px;
  font-weight: 600;
}
